*{
    background-color: rgb(27, 25, 25);
    color: white;
    font-family: Helvetica;
    
}

.title{
    font-size: 45px;
    display: flex;
    flex-direction: column;
    flex: 1fr;
}

img{
    width: 50px;
    padding: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    flex-direction: row;
    border-radius: 90px;

}

button{
    border: solid 5px white;
    border-radius: 100px;
}

